
.todo-item-page {
    margin: 2% 8%;
}

.todo-item-page form {
    display: grid;
    height: 90vh;
    grid-template-columns: 80% 20%;
    grid-template-rows: 1fr 4fr 1fr;
    row-gap: 50px;
}

.todo-item-page input, .todo-item-page button, .todo-item-page textarea{
    text-decoration: none;
    border-style: none;
    background-color: transparent;
}

.todo-item-page input::placeholder {
    text-align: start;
}

.todo-item-page .title{
    display: flex;
    align-self: center;
}

.todo-item-page #title {
    font-size: 48px;
    width: 6ch;
}

.todo-item-page .project-tag {
    padding: 4px 16px;
    color: white;
    align-self: center;
    background-color: var(--orange);
    font-size: 12px;
    border-radius: 50px;
    text-align: center;
    margin-right: 10%;
    font-weight: 500;
    
}

.todo-item-page .priority {
    align-self: center;
    justify-self: end;
}


.todo-item-page #priority, .todo-item-page #priority::placeholder {
    width: 40px;
    height: 40px;
    text-align: center;
}

.todo-item-page #description {
    grid-column: 1 / 3;
    font-size: 20px;
    color: var(--light-grey);
    border: 2px solid var(--lightisch);
}
:root {
    --lightisch: #eeeeee;
}

.todo-item-page .dueDate {
    padding-left: 18px;
    width: 150px;
    align-self: center;
    justify-self: end;
    height: 100%;
    color: var(--dark-grey);
    font-size: 16px;
    background-color: var(--lightisch);
    border-radius: 50px;
    text-align: center;
    margin-right: 20px;
}

.todo-item-page #button {
    background-color: var(--orange);
    border-radius: 50px;
    color: white;
    font-size: 16px;
    width: 200px;
    justify-self: end;
}


.todo-item-page .button-fields {
    grid-column: 1 / 3;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 30px;
}

.todo-item-page .button-fields *{
    background-color: var(--orange);
    padding: 20px 50px;
    color: white;
    font-weight: 500;
    font-size: 16px;
    border-radius: 50px;
}

.todo-item-page #dueDate {
    background-color: var(--lightisch);
    color: var(--dark-grey);
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}